@import url(../lib/font/gentium-basic-v10-latin/font.css);
@import url(../lib/font/yanone-kaffeesatz-v10-latin/font.css);

:root {
	--tab-bg-color: #444;
	--tab-fg-color: #EEE;
}

.reveal {
	font-family: "Gentium Basic";
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	font-family: "Yanone Kaffeesatz";
	font-weight: 600;
	text-transform: none;
}

#tab {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-top: 4px solid var(--tab-bg-color);
}

#tab .label {
	float: right;
	margin: 0 30px;
	padding: 12px;
	border-radius: 0px 0px 12px 12px;
	font-family: "Gentium Basic";
	font-size: 1.1em;
	color: var(--tab-fg-color);
	background: var(--tab-bg-color);
}
